.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #152238;
}

.intro {
  font-size: 1.8rem;
}

.introName {
  color: #ff4f6d;
}

.introTitle {
  color: #ffffff;
}

.introImg {
  width: 375px;
  height: 375px;
}

.nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  color: #ffffff;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
